<section class="banner d-flex justify-content-center align-items-center">
    <mat-card class="center-card">
        <h1>Member Portal</h1>
    </mat-card>
    <div class="text-center">
        <mat-grid-list cols="2" rowHeight="150px">
            <mat-grid-tile>
                <mat-card class="example-card">
                    <button routerLink="/submitclaim" class="mat-raised-button mat-accent text-white uppercase">Submit Claim</button>
                </mat-card> 
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="example-card">
                    <button routerLink="/viewclaimstatus" class="mat-raised-button mat-accent text-white">View Claim
                        Status</button>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="example-card">
                    <button routerLink="/viewbilldetails" class="mat-raised-button mat-accent text-white">View Bill
                        Details</button>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="example-card">
                    <button routerLink="/policyproviderdetails" class="mat-raised-button mat-accent text-white">Policy Provider
                        Details</button>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</section>