<section class="banner">
    <mat-card class="center-card">
        <h2>ABOUT US</h2>
    </mat-card>
    <br>
    <mat-card class="form-card">
            <div class="example-container">
                <blockquote class="blockquote">
					<p>Health insurance is a type of insurance that covers the
						whole or a part of the risk of a person incurring medical
						expenses. As with other types of insurance is risk among many
						individuals. By estimating the overall risk of health risk and
						health system expenses over the risk pool, an insurer can develop
						a routine finance structure, such as a monthly premium to provide
						the money to pay for the health care benefits specified in the
						insurance agreement.The benefit is administered by a central
						organization, such as a government agency, private business, or
						not-for-profit entity.</p>
				</blockquote>
                
            </div>
            <br>
            <div>
                <span  > 
                    <button class="mat-raised-button mat-accent text-white" routerLink="/memberHome" style="margin-right: 14px;">Member Portal</button>
                </span>
            </div>
    </mat-card>
</section>