<section class="banner">
    <br>
    <mat-card class="center-card" style="background-color: black;   width:50%">
       SERVICES DASHBOARD
    </mat-card>
    <br>
    <mat-card class="center-card" style="background-color: rgb(255, 255, 255);   width:50%" >
            <div>
                <span> 
                   <a href="http://localhost:7000" target="_blank"><button class="mat-raised-button mat-accent text-white"  style="margin-right: 14px;">Microservices Management</button></a>
                </span>
                <span> 
                    <a href="http://localhost:3000/d/QylPEIW7z/mfpe?orgId=1" target="_blank"><button class="mat-raised-button mat-accent text-white"  style="margin-right: 14px;">Hystrix-System-Usage</button></a>
                 </span>
            </div>
    </mat-card>
</section>